extends layout

block content
  h1.ChannelTitle
    = title

  .Grid
    each block in helpers.shuffle(contents)
      if block.image
        a.GridBlock(
          href='/blocks/' + block.id
          style='width: ' + helpers.rand(100, 400) + 'px;'
        )
          img(src=block.image.display.url)
