doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    block content
    script(src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js')
    script(src='https://unpkg.com/packery@2/dist/packery.pkgd.min.js')
    script(src='https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js')
    script(src='/javascripts/app.js')
